# name : getter-setter
# key : gs
# --
public function get${1:$(upcase-initials yas/text)}()
{
    return $this->$1;
}

public function set${1:$(upcase-initials yas/text)}(\$$1)
{
    $this->$1 = \$$1;

    return $this;
}
