# name: QT UI class ... { ... }
# key: uiclass
# --

#include <$3>

namespace Ui {
    class ${1:$(yas-substr yas/text "[^: ]*")};
}

class ${1:Name} : public ${3:QWidget}
{
    Q_OBJECT

public:
    ${1:$(yas-substr yas/text "[^: ]*")}(${2:QWidget * parent = 0});
    ~${1:$(yas-substr yas/text "[^: ]*")}();

private:
    Ui::${1:$(yas-substr yas/text "[^: ]*")} * ui;
};
